on:
  workflow_call:
    inputs:
      package:
        required: true
        type: string
      upload-build-artifact:
        type: boolean
        default: false

jobs:
  quality-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn

      - name: Yarn
        run: yarn

      - name: Lint
        run: yarn workspace @dannywrayuk/${{ inputs.package }} lint

      - name: Test
        run: yarn workspace @dannywrayuk/${{ inputs.package }} test

      - name: Build
        run: yarn workspace @dannywrayuk/${{ inputs.package }} build

      - name: Upload Build Artifact
        if: ${{ inputs.upload-build-artifact == true }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ inputs.package }}
          path: packages/${{ inputs.package }}/dist
